@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'aleo-r';
  src: url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
    url('../fonts/aleo-regular-webfont.woff') format('woff'),
    url('../fonts/aleo-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galderglynn-r';
  src: url('../fonts/galderglynn-regular-webfont.woff2') format('woff2'),
    url('../fonts/galderglynn-regular-webfont.woff') format('woff'),
    url('../fonts/galderglynn-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-r';
  src: url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
    url('../fonts/worksans-regular-webfont.woff') format('woff'),
    url('../fonts/worksans-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'worksans-b';
  src: url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
    url('../fonts/worksans-bold-webfont.woff') format('woff'),
    url('../fonts/worksans-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/*General Styles*/
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 300px;
  padding-top: 76px;
  font-family: 'worksans-r', serif;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'worksans-b', serif;
  padding: 40px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 42px;
}

p,
ol {
  font-family: 'aleo-r';
  text-align: justify;
  margin: 0 auto;
  max-width: 60%;
  position: relative;
  bottom: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 18px;
}

nav {
  border-bottom: 1px solid #e6eaea;
}

.li-p {
  max-width: 100%;
}

.navbar {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.7);
}

.btn {
  color: #ffffff !important;
  width: 100% !important;
}

#arrow-down {
  position: relative;
  transition: 0.5s;
  color: #ffffff !important;
}

#arrow-down {
  transform: scale(1.25, 1.25);
}

.profile-image {
  border-radius: 50%;
  display: inline-block;
  height: 160px;
  width: 160px;
}

.image-caption {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.image-caption strong {
  font-family: 'worksans-r', serif !important;
}

.padding-top-md {
  padding-top: 2em;
}

.welcome-message {
  font-family: 'Fredoka One', serif;
  text-align: left !important;
  margin-left: 5% !important;
  margin-bottom: -45px;
  font-size: 48px;
}

.jumbotron-fluid {
  background-image: linear-gradient(0deg, #00000088 30%, #ffffff44 100%),
    url('../images/jumbo-bg.jpg');
  background-size: cover;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 75px;
  color: #ffffff !important;
  text-align: center;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%) !important;
  background-size: cover;
  z-index: 1;
}

.display-4 {
  font-family: 'galderglynn-r', sans-serif;
  font-weight: 200;
  padding-top: 100px;
  margin: 0px;
}

.my-4 {
  width: 60%;
  margin: auto;
  color: black;
}

.footer {
  margin-top: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.fab,
.fas {
  color: black;
  font-size: 24px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.dropdrown-link {
  color: #495057;
  text-align: inherit;
  width: 100%;
  background: none !important;
}

.card img {
  height: 95px !important;
}

.card p {
  text-align: left;
}

.technology-card {
  font-family: 'worksans-r', serif;
}

.dot {
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 0.375rem;
  border-radius: 99px;
}

.key-container {
  float: left;
  margin-right: 2.5rem;
  font-weight: 300;
}

/*Specific Styles*/
#homepage-jumbotron {
  height: 100vh !important;
}

#home-about {
  text-align: left;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 60%;
  margin-bottom: 0;
  padding: 0 !important;
  margin-top: 3rem;
}

#arrow-down {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease-out;
}

#jumbo-p {
  color: white;
  padding: 30px;
  margin: 0px;
  margin-bottom: 40px;
}

.lead {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  position: relative;
  bottom: 0;
}

.carousel-item {
  max-height: 350px;
}

#carousel-p {
  max-width: 100%;
}

#carousel-p p {
  text-align: justify;
  margin: 0;
  position: relative;
  bottom: 0;
}

#solution-mobile-header {
  display: none;
}

.list-group a {
  color: rgb(51, 162, 255) !important;
}

.list-group a:nth-child(odd) {
  background-color: #f9f9f9;
}

#demo-link {
  text-decoration: none !important;
  transition: 0.5s;
  font-size: 1rem;
  border-radius: 500px;
}

#demo-link:after {
  content: '»';
  position: relative;
  opacity: 0;
  left: 0.5rem;
  transition: 0.5s;
}

#demo-link:hover {
  padding-right: 24px;
  padding-left: 8px;
}

#demo-link:hover:after {
  opacity: 1;
  right: 10px;
}

.key-row {
  padding: 0 1.25rem;
  line-height: 60px;
  border-radius: 4px 4px;
}

.green .dot {
  background-color: rgb(129, 169, 19);
}

.yellow .dot {
  background-color: #ffbb33;
}
.red .dot {
  background-color: #f53131;
}

.row-bg-dark {
  background: #f5f8fd;
  background-size: cover;
}

/*Media Breakpoints*/
@media only screen and (max-width: 600px) {
  #solution-mobile-header {
    display: block;
  }
  #solution-desktop-header {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #home-about {
    text-align: center !important;
  }

  #about-description {
    max-width: 80%;
  }

  .display-4 {
    font-size: 1.5rem;
  }

  .welcome-message {
    font-size: 40px;
  }

  .fab,
  .fas {
    font-size: 28px !important;
  }
}

@media only screen and (max-device-width: 1024px) {
  .logo {
    margin-top: 40px;
  }

  .col-md-2,
  .col-sm-4 {
    max-width: 50%;
  }
}

@media only screen and (min-device-width: 1296px) {
  .logo {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 4em;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 6em;
  }
}

/*Animations*/
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
