/* General styles */
html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #222;
}

.dark-mode {
  scrollbar-color: rgba(255, 255, 255, 0.25) #25282c;
  scrollbar-width: thin;
}

li {
  list-style-type: none;
  margin-bottom: none !important;
}

input[type='text'] {
  width: 200px;
  max-width: 50%;
  margin: 4px 0px;
}

#search-result-controls {
  text-align: center;
}

*:focus {
  outline: none !important;
}

.border-none {
  border: none !important;
}

/* Specific elements */
#search-results {
  background-color: #ecf0f1;
  width: 400px;
}

#search-results li:hover {
  color: var(--primary-color);
}

#search-results ul:nth-child(1) {
  margin-left: 2rem;
  margin-top: 1rem;
}

.dark-mode #search-results {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

img.header {
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  margin-bottom: 15px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 450px;
}

#controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  overflow-x: hidden;
  overflow-y: auto;
}

#top-controls {
  margin-bottom: 20px;
}

#colormap-selector,
#top-controls {
  width: 400px !important;
}

.input__text--upper {
  text-align: right;
}

.clear {
  clear: both;
}

.el-wrapper {
  clear: both;
  min-height: 54px;
}

.thumbnail-image {
  width: 20px;
  height: 20px;
}

.info-toggle:hover {
  opacity: 0.5;
  transition: opacity 0.2s;
}

#info-text {
  clear: both;
}

#thumbnail-holder {
  float: right;
  margin-bottom: 10px;
  background-size: contain;
}

#metadata-field {
  font-size: 0.8em;
  font-weight: normal;
}

#metadata-field {
  margin-top: 0px;
}

#details__container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#details__host--title {
  clear: both;
}

#details__content {
  display: none;
}

#layerInfo__container {
  background-color: #ffffff;
  display: none;
  position: fixed;
  right: 0px;
  top: 15px;
  z-index: 1000;
}

.dark-mode #layerInfo__container {
  background-color: var(--dm-base-body-bg-color);
  color: rgba(255, 255, 255, 0.8);
}

#layerInfo__URL,
#layerInfo__metadata {
  width: 420px;
  padding: 10px;
  margin: 0px;
  font-size: 0.8em;
}

#layerInfo__container--title {
  height: 40px;
  min-width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#layerInfo__toggle--title {
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#contrast-wrapper {
  float: left;
  width: calc(100% - 155px);
  min-width: 100px;
  height: 100px;
  padding-top: 10px;
  border-bottom: 1px solid #0b4566;
}

#key-list {
  padding-left: 0px;
  max-height: 400px;
  max-width: 400px !important;
}

#singleband-value-lower {
  margin-left: -4px;
}

#singleband-value-upper {
  float: right;
  margin-right: -4px;
}

.scrolling-list {
  max-height: 400px;
  overflow-y: auto;
}

.horizontal-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active {
  color: var(--color-primary);
}

.clickable {
  cursor: pointer;
}

.error {
  color: #dd0000;
}

#R .noUi-connect {
  background: #c0392b;
}

#G .noUi-connect {
  background: #3eb22a;
}

#B .noUi-connect {
  background: #008bec;
}

#rgb {
  padding: 10px 0px;
  border-bottom: 1px solid #0b4566;
}

.noUi-connects {
  height: 6px;
}

.noUi-base,
.noUi-connects {
  height: 6px;
  background-color: #d0eff2;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  top: -4px;
  right: -7px !important;
}

.noUi-handle:after,
.noUi-handle:before {
  background: none;
}

.noUi-handle {
  border: none;
  border-radius: 50%;
  box-shadow: none;
  background: #0b4566;
}

.noUi-target {
  border-radius: none;
  border: none;
  box-shadow: none;
}

.error-container {
  display: absolute;
  right: 16px;
  top: 200px;
  width: 320px;
  float: right;
  overflow: auto;
  z-index: 9990;
}

ul#errors {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  margin-right: 16px;
  z-index: 9990;
}

#errors li {
  padding: 16px;
  margin-top: 16px;
  background-color: #880c0c;
  color: white;
  position: relative;
}

#errors li small {
  font-size: 0.6em;
}

#errors li span {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
  pointer-events: all;
}

#errors li span:hover {
  opacity: 0.8;
}

#resizable__buffer {
  position: fixed;
  margin-left: 450px;
  height: 100vh;
  width: 6px;
  background: #0b4566;
  cursor: w-resize;
  z-index: 1100;
}

.no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.loader__spinner {
  position: relative;
  border: 10px solid #fff;
  border-top: 10px solid var(--blue-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 9999;
  margin: 0 auto;
  top: 30%;
  transform: translateY(-30%);
  animation: spinControl 2s linear infinite;
}

#loader__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

@keyframes spinControl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noUi-connect,
.noUi-connect,
.noUi-connect {
  background-color: #bbb9b9;
}

.singlebandSlider[disabled] .noUi-connect {
  filter: grayscale(1);
}

.noUi-handle,
.noUi-handle,
.noUi-handle,
.singleband-slider[disabled] .noUi-handle {
  background-color: #838383;
}
