/* General styles */
html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #222;
}

.dark-mode {
  scrollbar-color: rgba(255, 255, 255, 0.25) #25282c;
  scrollbar-width: thin !important;
}

li {
  list-style-type: none;
  margin-bottom: none !important;
}

#search-result-controls {
  text-align: center;
}

*:focus {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.border-none {
  border: none !important;
}

/* Specific elements */
#search-results {
  background-color: #ecf0f1;
  width: 400px;
  border-radius: 10px;
}

#search-results li:hover,
#colormap-selector button:hover {
  color: var(--primary-color);
}

#search-results ul:nth-child(1) {
  margin-left: 2rem;
  margin-top: 1rem;
}

#regionList {
  max-width: 400px !important;
}

#search-input {
  height: 36px;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

#search-group {
  background-color: #ecf0f1;
  border-radius: 25px;
  height: 36px;
}

.dark-mode #search-group {
  color: var(--dm-input-text-color);
  background-color: var(--dm-input-bg-color);
  border-color: var(--dm-input-border-color);
}

.dark-mode #search-group:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

#search-icon {
  padding: 10px;
  font-size: 1.2rem;
}

.dark-mode {
  background-color: #18191a !important;
}

.dark-mode #search-results {
  background-color: #242526 !important;
}

img.header {
  width: 100%;
  min-width: 250px;
  max-width: 325px;
  margin-bottom: 15px;
  display: inline-block;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 450px;
}

#controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  overflow-x: hidden;
  overflow-y: auto;
}

#top-controls {
  margin-bottom: 20px;
}

#top-controls {
  width: 400px !important;
}

#colormap-selector {
  text-align: left;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#colormap-selector button {
  text-align: left !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.input__text--upper {
  text-align: right;
}

.clear {
  clear: both;
}

.el-wrapper {
  clear: both;
  min-height: 54px;
}

.thumbnail-image {
  width: 20px;
  height: 20px;
}

.info-toggle:hover {
  opacity: 0.5;
  transition: opacity 0.2s;
}

#info-text {
  clear: both;
}

#thumbnail-holder {
  float: right;
  margin-bottom: 10px;
  background-size: contain;
}

#metadata-field {
  font-size: 0.8em;
  font-weight: normal;
}

#metadata-field {
  margin-top: 0px;
}

#details__container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#details__host--title {
  clear: both;
}

#details__content {
  display: none;
}

#layerInfo__container {
  background-color: #ffffff;
  display: none;
  position: fixed;
  right: 0px;
  top: 15px;
  z-index: 1000;
}

.dark-mode #layerInfo__container {
  background-color: #18191a !important;
  color: rgba(255, 255, 255, 0.8);
}

#layerInfo__URL,
#layerInfo__metadata {
  width: 420px;
  padding: 10px;
  margin: 0px;
  font-size: 0.8em;
}

#layerInfo__container--title {
  height: 40px;
  min-width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#layerInfo__toggle--title {
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#contrast-wrapper {
  float: left;
  width: calc(100% - 155px);
  min-width: 100px;
  height: 100px;
  padding-top: 10px;
  border-bottom: 1px solid #0b4566;
}

#key-list {
  padding-left: 0px;
  max-height: 400px;
  max-width: 400px !important;
}

#band-dropdown-container {
  display: none;
}

.dropdown {
  display: block !important;
}

.dropdown-btn {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.dropdown-btn:hover {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.dark-mode .dropdown-menu {
  background-color: #242526 !important;
}

.scrolling-list {
  max-height: 400px;
  overflow-y: auto;
}

.active {
  color: var(--color-primary);
}

.clickable {
  cursor: pointer;
}

.error {
  color: #dd0000;
}

.error-container {
  display: absolute;
  right: 16px;
  top: 200px;
  width: 320px;
  float: right;
  overflow: auto;
  z-index: 9990;
}

ul#errors {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  margin-right: 16px;
  z-index: 9990;
}

#errors li {
  padding: 20px;
  margin-top: 16px;
  background-color: var(--red-color-dark);
  color: white;
  position: relative;
  border-radius: 10px;
}

#errors li small {
  font-size: 0.6em;
}

#errors li span {
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  cursor: pointer;
  pointer-events: all;
}

#errors li span:hover {
  opacity: 0.8;
}

.loader__spinner {
  position: relative;
  border: 10px solid #fff;
  border-top: 10px solid var(--blue-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 9999;
  margin: 0 auto;
  top: 30%;
  transform: translateY(-30%);
  animation: spinControl 2s linear infinite;
}

#loader__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

@keyframes spinControl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
