<!DOCTYPE html>
<html>
  <head>
    <title>Glacies Indicium</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet" />
    <link
      href="{{ url_for('static', filename='css/halfmoon-variables.min.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{{ url_for('static', filename='js/halfmoon.js') }}"></script>
    <!--
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>-->
  </head>
  <body data-set-preferred-mode-onload="true">
    <div id="controls" class="container-fluid list overflow-y-scroll">
      <div id="top-controls" class="d-flex d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='images/header_large.png') }}"
          class="header"
          id="header-one"
        />
        <div class="custom-switch ml-20 mt-20">
          <button
            class="btn btn-action"
            type="button"
            onclick="toggleDarkMode();"
            aria-label="Toggle dark mode"
          >
            <i class="far fa-moon" aria-hidden="true" id="viewModeIcon"></i>
          </button>
        </div>
      </div>
      <div class="el-wrapper border-none">
        <div
          id="details__container"
          class="clickable d-flex justify-content-start"
          onclick="toggleDetails();"
        >
          <h2 class="content-title">
            Details <i class="fa fa-info-circle fa-2" aria-hidden="true"></i>
          </h2>
        </div>
        <div id="details__content">
          <p class="clear" id="info-text">Glacies Indicium capstone project!</p>
          <p id="details__host--title">
            <b>host: </b> <span id="details__host--url">{{ hostname }}</span>
          </p>
        </div>
      </div>
      <hr />

      <div id="widget"></div>

      <div class="form-group">
        <h2 class="content-title d-inline-block">Band Keys</h2>
        <div id="key-list"></div>
      </div>
      <hr />
      <div>
        <select
          id="colormap-selector"
          class="form-control"
          onchange="updateColormap();"
        ></select>
      </div>
      <hr />
      <div class="el-wrapper border-none mb-10 p-5" id="regionList">
        <h2 class="content-title">Region Keys</h2>
        <input
          type="text"
          class="form-control"
          placeholder="Search for a region"
          onkeyup="filterRegions(this)"
        />
        <div class="d-inline-flex justify-content-around mb-20">
          <a
            class="btn btn-primary btn-sm d-none mr-10"
            id="export-button"
            target="_blank"
            download
            role="button"
          >
            Download Layer
            <i class="fa fa-download" aria-hidden="true"></i>
          </a>
          <button
            class="btn btn-danger btn-sm d-none"
            id="clear-button"
            type="button"
            onclick="resetLayerState(true)"
          >
            Reset Map
            <i class="fa fa-undo" aria-hidden="true"></i>
          </button>
        </div>
        <div id="thumbnail-holder"></div>
        <div class="scrolling-list overflow-y-scroll" id="search-results"></div>
      </div>
      <div id="loader__container">
        <div id="loader__spinner--control" class="loader__spinner"></div>
      </div>
    </div>

    <div id="map"></div>

    <div id="layerInfo__container">
      <div id="layerInfo__container--title" onclick="toggleLayerInfo()">
        <h5 id="layerInfo__toggle--title" class="no-select">Layer info</h5>
        <p id="layerInfo__toggle--icon" class="no-select text-danger">×</p>
      </div>
      <div id="layerInfo__container--content">
        <p id="layerInfo__URL">current layer:</p>
        <p id="layerInfo__metadata"></p>
      </div>
    </div>
    <aside class="error-container">
      <ul id="errors"></ul>
    </aside>
    <script type="text/javascript">
      window.onload = initializeApp.bind(null, '{{ hostname }}');
    </script>
  </body>
</html>
