<!DOCTYPE html>
<html>
  <head>
    <title>Glacies Indicium</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/leaflet.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      href="{{ url_for('static', filename='css/all.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/halfmoon-variables.min.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/halfmoon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body
    class="with-custom-webkit-scrollbars with-custom-css-scrollbars"
    data-set-preferred-mode-onload="true"
  >
    <div class="modal" id="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <a href="#" class="close" role="button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
          <h5 class="modal-title">Layer Info</h5>
          <div>
            <p id="layerInfo__URL">current layer:</p>
          </div>
          <div id="layerInfo__metadata">
            <div class="card m-0 p-0 bg-very-dark-dm">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Mean</th>
                      <th>Range</th>
                      <th>Standard Deviation</th>
                      <th>Valid Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="mean"></td>
                      <td id="range"></td>
                      <td id="stdDev"></td>
                      <td id="validPercent"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="text-right mt-20">
            <a href="#" class="btn btn-primary mr-5" role="button">Close</a>
          </div>
        </div>
      </div>
    </div>
    <div id="page-wrapper" class="page-wrapper with-navbar with-sidebar">
      <nav class="navbar">
        <div class="navbar-content">
          <button
            id="toggle-sidebar-btn"
            class="btn btn-action bg-none"
            type="button"
            onclick="toggleSidebar()"
          >
            <i class="fa fa-times" id="menu-icon" aria-hidden="true"></i>
          </button>
        </div>
        <a href="#" class="navbar-brand">
          <img
            src="{{ url_for('static', filename='images/header_large.png') }}"
            style="height: 50px;"
            id="header-one"
            class="header"
          />
        </a>
        <div class="navbar-content ml-auto">
          <button
            class="btn btn-action bg-none mr-5"
            type="button"
            onclick="toggleDarkMode()"
          >
            <i id="viewModeIcon" class="fas fa-sun" aria-hidden="true"></i>
            <span class="sr-only">Toggle dark mode</span>
          </button>

          <a
            class="btn btn-action d-none mr-5"
            id="export-button"
            target="_blank"
            download
            role="button"
            data-toggle="tooltip"
            data-title="Download current layer"
            data-placement="left"
          >
            <i class="fas fa-file-download"></i>
          </a>

          <button
            class="btn btn-action btn-danger d-none"
            id="clear-button"
            type="button"
            data-toggle="tooltip"
            data-title="Reset layer"
            data-placement="left"
            onclick="resetLayerState(true)"
          >
            <i class="fas fa-undo"></i>
          </button>
        </div>
      </nav>

      <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
      <div class="sidebar">
        <div class="sidebar-menu">
          <div
            id="details__container"
            class="clickable d-flex justify-content-start"
            onclick="toggleDetails();"
          >
            <h2 class="content-title">
              Details <i class="fas fa-caret-down fa-2" aria-hidden="true"></i>
            </h2>
          </div>
          <div id="details__content">
            <p class="clear" id="info-text">
              Glacies Indicium capstone project!
            </p>
            <p id="details__host--title">
              <b>host: </b> <span id="details__host--url">{{ hostname }}</span>
            </p>
          </div>
          <div class="sidebar-divider"></div>
          <br />
          <div class="form-group">
            <h2 class="content-title d-inline-block">Band Keys</h2>
            <div id="key-list"></div>
            <div class="dropdown" id="band-dropdown-container">
              <button
                class="btn dropdown-btn"
                data-toggle="dropdown"
                type="button"
                id="dropdown-toggle-1"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Select Band
                <i class="fas fa-caret-down ml-5" aria-hidden="true"></i>
              </button>
              <div
                class="dropdown-menu"
                id="band-dropdown-menu"
                aria-labelledby="dropdown-toggle-btn-1"
              ></div>
            </div>
          </div>
          <div class="sidebar-divider"></div>
          <div>
            <h2 class="content-title d-inline-block">Colormap</h2>
            <div class="dropdown" id="colormap-dropdown-container">
              <button
                class="btn dropdown-btn"
                data-toggle="dropdown"
                type="button"
                id="dropdown-toggle-2"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Select Colormap
                <i class="fas fa-caret-down ml-5" aria-hidden="true"></i>
              </button>
              <div
                class="dropdown-menu"
                id="colormap-selector"
                aria-labelledby="dropdown-toggle-btn-1"
              ></div>
            </div>
            <div class="sidebar-divider"></div>
            <div class="el-wrapper border-none mb-10" id="regionList">
              <h2 class="content-title">Region Keys</h2>
              <div class="input-group" id="search-group">
                <span>
                  <i
                    class="fas fa-search"
                    id="search-icon"
                    aria-hidden="true"
                  ></i>
                </span>
                <input
                  id="search-input"
                  type="text"
                  class="form-control"
                  placeholder="Search for a region"
                  onkeyup="filterRegions(this)"
                />
              </div>
              <div id="thumbnail-holder"></div>
              <div
                class="scrolling-list overflow-y-auto mt-10"
                id="search-results"
              ></div>
            </div>
            <div id="loader__container">
              <div id="loader__spinner--control" class="loader__spinner"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div id="layerInfo__container">
          <a href="#modal" class="btn btn-primary" role="button"
            ><i class="fas fa-info-circle"> </i>
          </a>
        </div>
        <aside class="error-container">
          <ul id="errors"></ul>
        </aside>
        <div id="map"></div>
      </div>
    </div>
    <script type="text/javascript">
      window.onload = initializeApp.bind(null, '{{ hostname }}');
    </script>
  </body>
</html>
